---
import HeroSlider from '@/components/HeroSlider.astro'
import HeroVideo from '@/components/HeroVideo.astro'
---

<section id="inicio" aria-label="Hero principal">
  <!-- <HeroSlider /> -->
  <HeroVideo />
</section>
